#menubar {
    padding: 0px 0px 0px 0px;
    background-color: white;
       }
#footer {
    padding: 0px 0px 0px 0px;
    text-align: center;
    background-color: white;
       }

a:link {
    color: blue;

}
a:visited {
    color: red;

}
a:hover {
    font-weight: bold;
}
a:active {
    text-decoration: none;
}